@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

body {
    background: #49afa8;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 260px;
	border-radius: 25px;
	box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.title {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #49afa8;
	text-align: center;
}

h1 {
	font-size: 16px;
	font-weight: 300;
	color: #49afa8;
}

.dropzone {
	width: 100px;
	height: 80px;
	border: 1px dashed #49afa8;
	border-radius: 3px;
	text-align: center;
}

.upload-icon {
	margin: 25px 2px 2px 2px;
}

.upload-input {
	position: relative;
	top: -62px;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.btn {
	display: block;
	width: 140px;
	height: 40px;
	background: #49afa8;
	color: #fff;
	border-radius: 3px;
	border: 0;
	box-shadow: 0 3px 0 0 #054231;
	transition: all 0.3s ease-in-out;
	font-size: 14px;
}

.btn:hover {
	background: #054231;
	box-shadow: 0 3px 0 0 #49afa8;
}

.result {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 500px;
	border-radius: 25px;
	box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.upload-image {
    text-align: center;
}

p {
    text-align: center;
}