<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rules Of Tajweed</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="static/logo.png">
</head>
<body>
    <form action="/upload-image-base64-web" method="post" enctype="multipart/form-data">
        <div class="center">
            <div class="title">
                <h1>Drop file to upload</h1>
            </div>
            
            <div class="dropzone">
                <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                <input type="file" name="path" class="upload-input" />
            </div>
    
            <button type="submit" class="btn" name="uploadbutton">Upload file</button>
        </div>
    </form>
</body>
</html>